{% extends 'libertas/base.html' %}

{% block title %}Account{% endblock %}

{% block main %}

<h1>Dein Account</h1>

<div class="mt-4 row">
    <div class="col-md-3 mb-4">
        <nav class="nav nav-pills flex-row flex-md-column text-center text-md-left">
            <a class="nav-link flex-fill mb-2 m-md-0 {% if menu == "user-account-account" %}active{% endif %}" href="{% url 'account' %}">Allgemein</a>
            <a class="nav-link flex-fill mb-2 m-md-0 {% if menu == "user-account-password" %}active{% endif %}" href="{% url 'account_password' %}">Passwort</a>
            <a class="nav-link flex-fill mb-2 m-md-0 {% if menu == "user-account-delete" %}active{% endif %}" href="{% url 'account_delete' %}">Account löschen</a>
        </nav>
    </div>
    <div class="col-md">
        {% block account %}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block no_ad %}
{% endblock %}