{% extends 'libertas/base.html' %}

{% block title %}Account | Libertas{% endblock %}

{% block main %}

<h1>Dein Account</h1>

<h3>Accountinformationen</h3>
<p>
    <strong>E-Mail-Adresse:</strong> {{ user.email }}<br>
    <strong>Anmeldename:</strong> {{ user.username }}<br>
    <strong>Registriert am:</strong> {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
</p>
<h3>Passwort ändern</h3>
<form method="post" class="needs-validation" novalidate>
    {% include "libertas/form.html" %}
    <button class="btn btn-primary" type="submit">Passwort ändern</button>
</form>
<h3 class="mt-3">Account löschen</h3>
<a class="btn btn-danger" href="{% url 'account_delete' %}">Account löschen</a>
{% endblock %}