{% extends 'libertas/base.html' %}

{% block title %}Anmelden | Libertas{% endblock %}

{% block main %}

<div class="form centered">
    <h1>Anmelden</h1>
    <form method="post">
        {% include "libertas/form.html" %}
        <button type="submit">Anmelden</button>
        <button onclick="window.location='{% url 'reset' %}'">Passwort vergessen?</button>
    </form>
</div>

<script>
    // Disable @-Symbol
    $(function () {
        $('.email').keypress(function (e) {
            if (e.which == 64) {
                return false;
            }
        });
    });
</script>

{% endblock %}