{% extends 'libertas/base.html' %}

{% block title %}Anmelden | Libertas{% endblock %}

{% block main %}

<div class="mx-auto mt-5" style="width: 340px;">
    <form method="post" class="needs-validation" novalidate>
        <h1 class="h2 mb-4 text-center">Anmelden</h1>
        {% include "libertas/form.html" %}
        <a class="btn btn-secondary btn-block mt-4" href="">Passwort vergessen?</a>
        <button class="btn btn-primary btn-block mt-2" type="submit">Anmelden</button>
    </form>
</div>

<script>
    // Disable @-Symbol
    $(function () {
        $('.email').keypress(function (e) {
            if (e.which == 64) {
                return false;
            }
        });
    });
</script>

{% endblock %}