{% extends 'libertas/base.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block main %}

<div class="row justify-content-center mt-3">
    <div class="p-3 col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

        <div class="shadow-rd rounded border bg-white p-3">
            <form method="post" class="needs-validation" novalidate>
                <h1 class="font-weight-bold h4"><i class="fas fa-unlock mr-2 text-primary"></i>Passwort zurücksetzen</h1>
                <p class="text-muted">Wenn du dein Passwort vergessen hast, können wir dir ein Link an deine
                    E-Mail-Adresse senden, damit du ein neues Passwort festlegen kannst.</p>
                {% include "libertas/snippets/form.html" %}
                <button class="btn btn-primary btn-block mt-2" type="submit">Passwort zurücksetzen</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block no_ad %}
{% endblock %}