{% extends 'libertas/base.html' %}

{% block title %}Passwort zurücksetzen | Libertas{% endblock %}

{% block main %}

<div class="form centered">
    <h1>Passwort zurücksetzen</h1>
    <form method="post">
        {% include "libertas/form.html" %}
        <button type="submit">Passwort zurücksetzen</button>
    </form>
</div>

<script>
    // Disable @-Symbol
    $(function () {
        $('.email').keypress(function (e) {
            if (e.which == 64) {
                return false;
            }
        });
    });
</script>

{% endblock %}