{% extends 'libertas/base.html' %}

{% block title %}Account erstellen{% endblock %}

{% block main %}

<div class="row justify-content-center mt-3">
    <div class="p-3 col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

        <p class="text-center">Hast du schon einen Account? <a href="{% url 'signin' %}">Anmelden</a></p>
        <div class="shadow-rd rounded border bg-white p-3">
            <form method="post" class="needs-validation" novalidate>
                <h1 class="font-weight-bold h4"><i class="fas fa-user-plus mr-2 text-primary"></i>Account erstellen</h1>
                {% include "libertas/snippets/form.html" %}
                <button class="btn btn-primary btn-block mt-2" type="submit">Account erstellen</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block no_ad %}
{% endblock %}