{% extends 'libertas/base.html' %}

{% block title %}Account erstellen | Libertas{% endblock %}

{% block main %}

<div class="mx-auto mt-4" style="width: 340px;">
    <form method="post" class="needs-validation" novalidate>
        <h1 class="h2 mb-4 text-center">Account erstellen</h1>
        {% include "libertas/form.html" %}
        <button class="btn btn-primary btn-block mt-2" type="submit">Account erstellen</button>
    </form>
</div>

<script>
    // Disable @-Symbol
    $(function () {
        $('.email').keypress(function (e) {
            if (e.which == 64) {
                return false;
            }
        });
    });
</script>
{% endblock %}