asgiref==3.2.7
certifi==2020.4.5.2
Django==3.0.7
django-appconf==1.0.4
django-compressor==2.4
django-libsass==0.8
django-mysql==3.6.0
gunicorn==20.0.4
libsass==0.20.0
mysqlclient==1.4.6
python-http-client==3.2.7
pytz==2020.1
rcssmin==1.0.6
rjsmin==1.1.0
sentry-sdk==0.14.4
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9