asgiref==3.2.10
certifi==2020.12.5
Django==3.1.4
django-appconf==1.0.4
django-compressor==2.4
django-libsass==0.8
django-mysql==3.9.0
gunicorn==20.0.4
libsass==0.20.1
mysqlclient==2.0.1
pytz==2020.4
rcssmin==1.0.6
rjsmin==1.1.0
sentry-sdk==0.19.5
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2