{% extends 'libertas/base.html' %}

{% block title %}Passwort zurücksetzen | Libertas{% endblock %}

{% block main %}

<div class="form centered">
    <h1>Passwort zurücksetzen</h1>
    <div class="message success">
        Sofern ein Account mit dieser E-Mail-Adresse existiert,
        haben wir dir eine E-Mail mit einem Bestätigungslink gesendet.<br>
        Gehe jetzt auf IServ und klicke auf den Link, um dein
        Passwort zurückzusetzen.
    </div>
    <br>
    <button onclick="window.location='https:\/\/halepaghen.de/'">Weiter zu IServ</button>
</div>
{% endblock %}