:root {
    --main-accent-color: rgb(46, 77, 214);
    --main-accent-hover-color: rgb(63, 98, 253);
    --main-accent-gradient-color: rgb(48, 82, 235);
}

@font-face {
    font-family: 'Marienda Bold';
    src: url('/static/libertas/ttf/Merienda-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('/static/libertas/ttf/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/static/libertas/ttf/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MaterialIcons Regular';
    src: url('/static/libertas/ttf/MaterialIcons-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0;
    margin-top: 50px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

nav {
    background-image: linear-gradient(to bottom right, var(--main-accent-color), var(--main-accent-gradient-color));
    box-shadow: 0px -8px 15px 8px #727272;
    width: 100%;
    height: 39px;
    padding: 5px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    left: 0;
    top: 0;
}

nav .logo {
    color: white;
    font-family: 'Marienda Bold';
    font-size: 21px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: background-color .2s;
}

nav .logo:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .2s;
    cursor: pointer;
}

nav .right {
    margin-left: auto;
    height: inherit;
    margin-right: 8px;
    align-items: center;
    vertical-align: center;
    display: flex;
    overflow: hidden;
}

nav .button {
    font-family: 'Roboto Regular';
    color: white;
    width: auto;
    font-size: 1em;
    padding: 8px;
    margin: 2px;
    border-radius: 5px;
    transition: background-color .2s;
    cursor: pointer;
    white-space: nowrap;
}

nav .button.white {
    background-color: white;
    color: var(--main-accent-color);
}

nav .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .2s;
}

nav .button.white:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

nav .username {
    font-family: 'Roboto Regular';
    font-size: 1em;
    color: white;
    margin: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

main {
    padding: 15px 30px 15px 30px;
    flex: 1 0 auto;
}

main h1 {
    font-family: 'Roboto Bold';
    color: var(--main-accent-color);
    font-size: 35px;
    font-weight: normal;
}

main h2 {
    font-family: 'Roboto Bold';
    color: rgb(31, 31, 31);
    font-size: 28px;
    font-weight: normal;
}

main h3 {
    font-family: 'Roboto Bold';
    color: rgb(31, 31, 31);
    font-size: 22px;
    font-weight: normal;
}

main p {
    font-family: 'Roboto Regular';
    font-size: 1em;
}

main a, main a:link, main a:visited, main a:active {
    color: var(--main-accent-color);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

footer {
    background-image: linear-gradient(to bottom, white, lightgray);
    widows: 100%;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a, footer a:link, footer a:visited, footer a:active {
    margin: 10px;
    font-family: 'Roboto Bold';
    font-size: 15px;
    text-decoration: none;
    transition: color .15s;
    color: rgb(36, 36, 36);
}

footer a:hover {
    color: var(--main-accent-color);
    transition: color .15s;
}

.login {
    margin: auto;
    max-width: 300px;
    padding: 10px;
}

.login input[type="text"], .login input[type="password"] {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    height: 35px;
    box-sizing: border-box;
    width: 300px;
    display: block;
    margin-top: 3px;
    outline: none;
    padding: 10px;
    font-family: 'Roboto Regular';
    font-size: 1em;
}

.login button {
    background-color: lightgray;
    cursor: pointer;
    border: none;
    height: 35px;
    padding: 8px;
    border-radius: 5px;
    color: black;
    font-family: 'Roboto Regular';
    font-size: 15px;
    transition: background-color .2s;
}

.login button:hover {
    background-color: rgb(231, 231, 231);
    transition: background-color .2s;
}

.login button[type="submit"] {
    background-color: var(--main-accent-color);
    color: white;
}

.login button[type="submit"]:hover {
    background-color: var(--main-accent-hover-color);
}

.field-wrapper {
    font-family: 'Roboto Regular';
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.email-wrapper {
    margin: 0;
    padding: 0;
    max-width: 300px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.email-wrapper span {
    font-family: 'Roboto Bold';
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    width: 111px;
}

.email-wrapper input {
    width: auto !important;
    overflow: hidden;
}

.help {
    font-size: 0.8em;
    color: rgb(95, 95, 95);
    margin-top: 10px;
    margin-bottom: 10px;
}

.help ul {
    padding-left: 20px;
    margin-top: 5px;
}

.errorlist {
    padding: 0;
}

.errorlist li {
    /* background-color: rgb(255, 194, 80); */
    font-family: 'Roboto Regular';
    font-size: 0.9em;
    color: red;
    list-style-type: none;
    margin-bottom: 5px;
    /* padding: 10px; */
    /* border-radius: 5px; */
}

/* ################## */

/* @media (max-width:850px) and (min-width: 680px) {} */

@media (max-width: 420px) {
    nav .button {
        font-size: 0.85em;
    }
    nav .username {
        font-size: 0.8em;
        margin: 5px;
    }
    .login {
        width: auto;
        margin: 0;
        max-width: unset;
    }
    .login input[type="text"], .login input[type="password"] {
        width: 100%;
    }
    main {
        padding: 10px;
    }
    .login button {
        width: 100%;
        display: block;
        margin-bottom: 8px;
    }
}