{% extends 'libertas/base.html' %}

{% block title %}Nutzungsbedingungen{% endblock %}

{% block main %}

<div class="jumbotron m-0 text-light shadow-rd py-5 bg-dark" style="overflow-wrap: break-word;">
    <h1 class="display-4"><i class="fas fa-balance-scale"></i> Nutzungsbedingungen</h1>
</div>

<div class="my-3 w-100 shadow-rd rounded border bg-white p-3" style="overflow-wrap: break-word;">
    <h2>Nutzungsbedingungen auf einem Blick</h2>
    <p>Diese Nutzungsbedingungen regeln die Nutzung dieser Website. Durch die Nutzung dieser Website erklärt sich der
        Nutzer vollständig mit den Nutzungsbedingungen einverstanden, einschließlich zusätzlicher Nutzungsbedingungen
        auf dieser Website (im Ganzen „Nutzungsbedingungen“ genannt). Die Nutzung der Website ist nur zulässig, wenn der
        Nutzer die Nutzungsbedingungen in vollem Umfang akzeptiert.
        <br><br>
        Was gehört zur zulässigen Verwendung der Website? Unter Berücksichtigung unten stehender Einschränkungen ist
        folgendes
        auf dieser Website gestattet:</p>
    <ul>
        <li>Das Erstellen eines Accounts mit einer gültigen E-Mail-Adresse.</li>
        <li>Das Erwerben von Ausgaben mit rechtmäßig erworbenen Zugangscodes.</li>
        <li>Das Lesen von Leseproben & erworbenen Ausgaben auf mehreren Geräten des Accountinhabers innerhalb des auf
            der Website
            integrierten Viewers.</li>
    </ul>
    <p>Es ist nicht gestattet:</p>
    <ul>
        <li>Das Teilen des eigenen Accounts oder das Teilen der Zugangsdaten des eigenen Accounts.</li>
        <li>Das Erstellen mehrerer Accounts für den selben Nutzer.</li>
        <li>Die Nutzung von VPN-Diensten, Proxys oder anderen Diensten, die die IP-Adresse verschleiern.</li>
        <li>Das Herunterladen oder Speichern von Ausgaben.</li>
        <li>Das Anfertigen von Screenshots oder Fotos von Ausgaben.</li>
        <li>Ausgaben, Artikel, Bildmaterial, elektronische Publikationen, Marken, Musik, Fotos, Texte oder Videos dieser
            Website im Internet zu veröffentlichen (auf Websites, File-Sharing-Sites, Video-Sharing-Websites oder in
            sozialen Netzwerken).</li>
        <li>Ausgaben, Artikel, Bildmaterial, elektronische Publikationen, Marken, Musik, Fotos, Texte oder Videos dieser
            Website mit einer Software oder als Bestandteil einer Software zu verbreiten (dazu zählt auch das Hochladen
            von genanntem Material auf einen Server für die weitere Verwendung durch eine Software).</li>
        <li>Ausgaben, Artikel, Bildmaterial, elektronische Publikationen, Marken, Musik, Fotos, Texte oder Videos dieser
            Website für kommerzielle Zwecke oder entgeltlich (selbst wenn kein Gewinn erzielt wird) zu reproduzieren, zu
            vervielfältigen, zu kopieren, zu verbreiten oder sonst irgendwie zu verwerten.</li>
        <li>Zu Verbreitungszwecken Software, Tools oder Techniken zu entwerfen, die speziell dafür gemacht sind, Daten,
            HTML, Bilder oder Texte dieser Website zu sammeln, zu kopieren, herunterzuladen, zu entpacken, zu entnehmen
            oder zu entfernen.</li>
        <li>Diese Website oder ihre Funktionen zu missbrauchen, indem man sie oder ihre Funktionen stört oder auf sie
            mithilfe von Verfahren zugreift, die nicht ausdrücklich vorgesehen sind.</li>
        <li>Diese Website in einer Weise zu nutzen, die zur Beschädigung der Website oder einer Beeinträchtigung ihrer
            Funktionstüchtigkeit oder Verfügbarkeit führt oder führen könnte; außerdem darf diese Website nicht in
            gesetzwidriger, illegaler, betrügerischer oder schädlicher Weise oder im Zusammenhang mit einem
            gesetzwidrigen, illegalen, betrügerischen oder schädlichen Zweck oder einer solchen Tätigkeit genutzt
            werden.</li>
        <li>Diese Website in einer Weise zu nutzen, die zur Beschädigung der Website oder einer Beeinträchtigung ihrer
            Funktionstüchtigkeit oder Verfügbarkeit führt oder führen könnte; außerdem darf diese Website nicht in
            gesetzwidriger, illegaler, betrügerischer oder schädlicher Weise oder im Zusammenhang mit einem
            gesetzwidrigen, illegalen, betrügerischen oder schädlichen Zweck oder einer solchen Tätigkeit genutzt
            werden.</li>
    </ul>
    <h2>Gewährleistungsausschluss, Haftungsbeschränkung und Widerrufsrecht</h2>
    <p>Der Website-Inhaber garantiert, dass innerhalb der folgenden 7 Tage nach dem Erwerben einer Ausgabe durch einen
        gültigen Zugangscode, die Ausgabe für 90% der Zeit online über diese Website zur Verfügung steht. Nach Ablauf
        der 7 Tage übernimmt der Website-Inhaber keine Garantien und keine Haftung in irgendeiner Form, weder
        ausdrücklich noch stillschweigend. Diese Garantie wird bei Verstoß gegen diese Nutzungsbedingungen unverzüglich
        aufgehoben.</p>
    <p>Der Website-Inhaber übernimmt weder dafür Garantie, dass die Website fehlerfrei auf dem Endgerät des Nutzers
        funktioniert, noch dass Ausgaben auf dem Endgerät des Nutzers (fehlerfrei) angezeigt werden können.</p>
    <p>Der Website-Inhaber übernimmt keine Garantie, dass die Website virenfrei und frei von schädlichen Komponenten
        ist. Der Website-Inhaber kann
        nicht haftbar gemacht werden für Schäden jeglicher Art und Schäden, die durch die Nutzung der Dienste,
        Informationen, Inhalte, Materialien oder jeglicher Dienste, die durch die Website zur Verfügung gestellt werden,
        entstehen. Dazu zählen unter anderem, aber nicht ausschließlich, direkte, indirekte und unabsichtliche Schäden
        sowie Schadensersatz und Folgeschäden (einschließlich Gewinnverluste).</p>
    <p>Um dem Nutzer dieser Website einen sofortigen Zugriff auf digitale Ausgaben zu ermöglichen, erlischt das
        14-tägige Widerrufsrecht der digitalen Ausgaben und des Zugangscodes nach dem Einlösen eines Zugangscodes. Ist
        der Nutzer nicht damit einverstanden, hat er
        das Recht den Website-Inhaber zu kontaktieren, dieser Ermöglicht dem Nutzer dann den Zugriff auf die
        digitale Ausgabe nach 14 Tagen, also nach dem Ablauf des Widerrufsrechts.</p>

    <h2>Verstoß gegen die Nutzungsbedingungen</h2>
    <p>Unbeschadet anderer Rechte und Rechtsansprüche, die dem Website-Inhaber zur Verfügung stehen, behält sich der
        Website-Inhaber bei
        Verstoß gegen diese Nutzungsbedingungen das Recht vor, jede von ihr als geeignet erachtete Maßnahme zu
        ergreifen. Das schließt ein, den Zugriff des Nutzers auf die Website zu unterbrechen oder zu untersagen, den
        Zugriff auf die Website durch Computer mit der betreffenden IP-Adresse zu verhindern, Kontakt zum
        Internet-Provider des Nutzers aufzunehmen, um durch diesen eine Sperrung des Zugriffs auf die Website durch den
        Nutzer zu erwirken, und/oder gerichtliche Schritte einzuleiten.</p>
    <p>Allerdings bleibt es in den meisten Fällen bei einer permanenten Account-Sperre, sowie einem sofortigen Verlust
        aller erworbenen Ausgaben und Garantien.</p>

    <h2>Änderung der Nutzungsbedingungen</h2>
    <p>Der Website-Inhaber behält sich vor, diese Nutzungsbedingungen jederzeit und ohne vorherige Ankündigung zu ändern
        oder zu
        aktualisieren. Geänderte Nutzungsbedingungen gelten für die Nutzung der Website ab dem Zeitpunkt der
        Veröffentlichung auf dieser Website. Nutzer der Website werden gebeten, diese Seite regelmäßig zu besuchen, um
        sicherzustellen, dass sie mit der aktuellen Version vertraut sind.</p>
    <h2>Salvatorische Klausel</h2>
    <p>Sollte ein Teil dieser Nutzungsbedingungen von einem zuständigen Gericht für nichtig, ungültig, nicht
        durchsetzbar oder rechtswidrig erklärt werden, bleiben die anderen Teile davon unberührt und behalten
        uneingeschränkt ihre Gültigkeit. Sollte der Website-Inhaber davon absehen, Bestimmungen dieser
        Nutzungsbedingungen
        durchzusetzen, liegt hierin kein Verzicht auf die betreffende Bestimmung dieser Nutzungsbedingungen oder auf das
        Recht, diese künftig durchzusetzen.</p>
    <h2>Gesamte Vereinbarung</h2>
    <p class="mb-0">Diese Nutzungsbedingungen stellen die gesamte Vereinbarung zwischen dem Website-Inhaber und dem
        Nutzer bezüglich der
        Nutzung dieser Website dar und ersetzen alle früheren Vereinbarungen bezüglich der Nutzung dieser Website.</p>
</div>


{% endblock %}