{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'libertas/css/basic.css' %}">
    <script src="{% static 'libertas/js/jquery.js' %}"></script>

    <title>{% block title %}Libertas{% endblock %}</title>
</head>

<body>
    <nav>
        <div class="logo" onclick="window.location='{% url 'index' %}'">Libertas</div>
        <div class="right">
            {% if user.is_authenticated %}
            <div class="username">{{ user.username }}</div>
            <div class="button" onclick="window.location='{% url 'signout' %}'">Abmelden</div>
            {% else %}
            <div class="button" onclick="window.location='{% url 'signin' %}'">Anmelden</div>
            <div class="button white" onclick="window.location='{% url 'signup' %}'">Account erstellen</div>
            {% endif %}
        </div>
    </nav>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    {% block no_footer %}
    <footer>
        <a href="">Impressum</a>
        <a href="">Datenschutz</a>
        <a href="">Kontakt</a>
    </footer>
    {% endblock %}
</body>

</html>