{% extends 'libertas/base.html' %}
{% load static %}

{% block title %}Corona-Infos{% endblock %}

{% block main %}

<div class="jumbotron m-0 text-light shadow-rd py-5" style="background: #17a2b8;">
    <h1 class="display-4"><i class="fas fa-shopping-cart"></i> Kaufen</h1>
</div>

<!-- <div class="jumbotron m-0 bg-warning text-dark shadow" style="overflow-wrap: break-word;">
    <h1 class="display-4">Corona-Infos</h1>
    <p class="lead">Informationen zu Änderungen aufgrund von COVID-19</p>
</div> -->

<div class="row mt-3">
    <div class="col-md-6 pr-md-0 d-flex">
        <div class="shadow-rd rounded border bg-white p-3">
            <h2 class="font-weight-bold h4"><span class="badge mr-2 text-white align-bottom" style="background-color: #17a2b8;">1€</span>Digitale Ausgabe bestellen</h2>
            <p><b>Normalerweise kannst du Zugangscodes für unsere digitalen Ausgaben in der HPS
                    erwerben. Während der Corona-Pandemie kannst du Zugangscodes automatisiert im Internet bestellen und
                    die Bezahlung später nachreichen:</b>
                {% if user.is_authenticated %}
                {% if wartung %}
                <p><i>Aufgrund einer Wartung lassen sich zur Zeit keine Zugangscodes bestellen.</i></p>
                {% elif not published %}
                <p><i>Die Ausgabe ist noch nicht öffentlicht. Versuche es nochmal, sobald die Ausgabe veröffentlicht wurde.</i></p>
                {% elif besitz %}
                <p><i>Du bist bereits im Besitz der Ausgabe.</i></p>
                {% elif user.profile.corona_bestellung %}
                <p><i>Du hast bereits eine digitale Ausgabe bestellt.</i></p>
                {% elif user.email %}
                <form method="post" class="needs-validation" novalidate>
                    {% include "libertas/form.html" %}
                    <p>Einen Zugangscode für die aktuelle Ausgabe senden wir an deine E-Mail-Adresse:
                        <b>{{ user.email }}</b></p>
                    <button class="btn btn-primary btn-block mt-2" type="submit">Zugangscode kostenpflichtig
                        bestellen!</button>

                </form>
                {% else %}
                <p><i>Du kannst keine digitale Ausgabe erwerben, da dein Account mit keiner
                        E-Mail-Adresse verknüpft ist.</i></p>
                {% endif %}
                {% else %}
                <p>Erstelle einen Account oder melde dich an, um eine digitale Ausgabe zu bestellen:</p>
                <a class="btn btn-primary btn-block" href="{% url 'signin' %}" role="button">Anmelden</a>
                <a class="btn btn-outline-primary btn-block" href="{% url 'signup' %}" role="button">Account
                    erstellen</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="col-md-6 pt-3 pt-md-0 pl-md-3 d-flex">
        <div class="shadow-rd rounded border bg-white p-3 w-100">
            <h2 class="font-weight-bold h4"><span class="badge mr-2 text-white align-bottom" style="background-color: #17a2b8;">1,50€</span>Print-Ausgabe bestellen</h2>
            <p><b>Normalerweise kannst du die gedruckten Ausgaben von TheHaps in der HPS und an anderen Standorten
                    erwerben. Während der Corona-Pandemie bieten wir stattdessen ein Bestell- und Liefersystem an:</b>
            </p>
            <p>Wenn du eine Print-Ausgabe kaufen möchtest, schreibe eine E-Mail an <a
                    href="mailto:thehaps@halepaghen.de">thehaps@halepaghen.de</a>, in der du
                <ul>
                    <li>die gewünschte Anzahl an Exemplaren,</li>
                    <li>deinen Namen und</li>
                    <li>deine exakte Wohnadresse angibst!</li>
                </ul>
                <i>Diese E-Mail ist verbindlich und rechtskräftig.</i></p>
            <p class="mb-0">
                Wir werden dir anschließend eine Bestätigungsemail schicken und die Ausgabe zeitnah austragen.
                Die Bezahlung erfolgt direkt vor Ort - natürlich unter Einhaltung <a href="{% static 'libertas/pdf/kontaktlose-lieferung-corona.pdf' %}">strenger Hygienevorschriften</a>.</p>
        </div>
    </div>


</div>


{% endblock %}