{% extends 'libertas/base.html' %}

{% block title %}Fragen & Antworten{% endblock %}

{% block main %}

<div class="jumbotron m-0 bg-dark text-light shadow">
    <h1 class="display-4">Fragen & Antworten</h1>
</div>

<div class="my-3 w-100 shadow rounded accordion" id="accordion-allgemein">
    <div class="card p-3 bg-light">
        <h3 class="mb-0">Allgemein</h4>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-1" aria-expanded="true" aria-controls="accordion-allgemein-1">
                    Wo kann ich eine Ausgabe von <i>TheHaps</i> kaufen?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-1" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Du kannst entweder eine Print- oder eine digitale Ausgabe von TheHaps erwerben. Die gedruckte Ausgabe
                kannst du in direkt in der Halepaghen-Schule zu den Verkaufszeiten, bei einem unserer Mitarbeiter, im
                Sekretariat, zu ausgewählten Zeiten in der Innenstadt Buxtehudes, bei Schulveranstaltungen, in anderen
                Schulen in Buxtehude oder auf Bestellung per E-Mail kaufen, während du alle digitalen Ausgaben mittels
                eines Accounts und eines Zugangscodes auf dieser Webseite erwerben kannst.
                <br>
                <b>Achtung: Aktuell gelten angesichts der Corona-Pandemie andere Bestimmungen! Informiere dich
                    diesbezüglich <a href="{% url 'corona' %}">hier</a>.</b>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-2" aria-expanded="true" aria-controls="accordion-allgemein-2">
                    Wie teuer ist eine Ausgabe?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-2" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Momentan kostet eine Print-Ausgabe 1,50 Euro und eine digitale Ausgabe 1,00 Euro.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-3" aria-expanded="true" aria-controls="accordion-allgemein-3">
                    An wen kann ich elektronische Leserpost, Fragen, Anzeigenanfragen, Kritik oder sonstige Anmerkungen
                    schicken?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-3" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                All das und Weiteres jeglicher Art kannst du gerne an <a
                    href="mailto:thehaps@halepaghen.de">thehaps@halepaghen.de</a> schicken! Wenn du ein sehr konkretes
                Anliegen hast oder einen Redakteur direkt erreichen möchtest, findest du <a
                    href="{% url 'team' %}">hier</a> die E-Mail-Adressen aller Mitwirkenden.

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-4" aria-expanded="true" aria-controls="accordion-allgemein-4">
                    Wie oft erscheint <i>TheHaps</i> pro Jahr?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-4" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Wir streben an, alle drei Monate eine Ausgabe zu veröffentlichen. Allerdings haben wir bewusst keine
                festen Erscheinungsdaten bestimmt.

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-5" aria-expanded="true" aria-controls="accordion-allgemein-5">
                    Ist <i>TheHaps</i> eine klassische Schülerzeitung der Halepaghen-Schule?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-5" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Nein, das kann man so nicht sagen. Wir sind vielmehr eine Jugendzeitschrift in der Stadt Buxtehude
                und keine "Schulzeitung". Wir verkaufen <i>TheHaps</i> daher nicht nur an der HPS, sondern auch an
                anderen
                Schulen, in der Innenstadt, voraussichtlich im Kulturbüro der Stadt und bei Veranstaltungen in den
                Räumlichkeiten der HPS. Auch nicht (direkt) ins Schulleben der HPS involvierte Personen wollen wir
                somit aktiv erreichen.

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-6" aria-expanded="true" aria-controls="accordion-allgemein-6">
                    Was passiert mit den Einnahmen durch den Verkauf?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-6" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Wir reinvestieren alle Gewinne in die Schülerzeitung und schaffen damit gleichzeitig eine gutes
                finanzielle Fundament für nachfolgende Generationen.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-7" aria-expanded="true" aria-controls="accordion-allgemein-7">
                    Wo kann ich Geld zur Unterstützung spenden?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-7" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Da die Erstellung und Instandhaltung einer Schülerzeitung sehr kostenintensiv ist, freuen wir uns sehr
                über jede Spende! Wenn du Geld spenden möchtest, kannst du uns das Geld bei einem Verkaufsstand direkt
                übergeben und demnächst auch sehr bequem über diese Webseite.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-8" aria-expanded="true" aria-controls="accordion-allgemein-8">
                    Wie kriege ich mit, wo und wann die aktuelle Ausgabe von <i>TheHaps</i> verkauft wird?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-8" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Darüber informieren wir selbstverständlich auf dieser Webseite und auf unseren Social Media-Kanälen
                fortlaufend! Häufig sind auch Plakate in der Stadt zu sehen.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-9" aria-expanded="true" aria-controls="accordion-allgemein-9">
                    Wie kann ich bei euch mitmachen?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-9" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Wir suchen jederzeit engagierte Mitstreiter und freuen uns immer über neue Gesichter! Wenn du Lust hast,
                mitzuwirken, schreibe einfach eine kurze E-Mail an <a
                    href="mailto:thehaps@halepaghen.de">thehaps@halepaghen.de</a>, in der du deinen Namen, dein
                Alter und ggf. sogar dein genaueres Interessensgebiet angibst!

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-10" aria-expanded="true" aria-controls="accordion-allgemein-10">
                    An wen kann ich mich wenden, wenn ich technische Probleme habe?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-10" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Wenn du technische Probleme haben solltest, wende dich gerne an unseren IT-Akrobaten Linus Köster, den
                du per E-Mail unter <a href="mailto:linus.koester@halepaghen.de">linus.koester@halepaghen.de</a>
                erreichst!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-11" aria-expanded="true" aria-controls="accordion-allgemein-11">
                    Wie viele Menschen wirken bei euch mit?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-11" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Alle zusammengezählt, wirken bei <i>TheHaps</i> aktuell rund 40 engagierte Menschen mit! TheHaps ist in
                verschiedene Arbeitsbereiche eingeteilt – die Redaktion etwa besteht aus 18 Mitgliedern, das Layout-Team
                aus drei, während eine Person für die Verwaltung der Finanzen verantwortlich ist. Das
                gesamte Team findest du <a href="{% url 'team' %}">hier</a>.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-allgemein-12" aria-expanded="true" aria-controls="accordion-allgemein-12">
                    Wie und wo werden die Print-Exemplare von <i>TheHaps</i> gedruckt?
                </button>
            </h2>
        </div>

        <div id="accordion-allgemein-12" class="collapse" aria-labelledby="heading" data-parent="#accordion-allgemein">
            <div class="card-body">
                Gedruckt wird die Print-Ausgabe bei der Firma "WIRmachenDRUCK GmbH" (<a
                    href="https://www.wir-machen-druck.de/">Link</a>). <i>TheHaps</i> wird auf 100 Prozent
                recyceltem Papier gedruckt und ist klimaneutral.
            </div>
        </div>
    </div>
</div>

<div class="my-3 w-100 shadow rounded accordion" id="accordion-online">
    <div class="card p-3 bg-light">
        <h3 class="mb-0">Digitale Ausgabe & Account</h4>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-online-1" aria-expanded="true" aria-controls="accordion-online-1">
                    Wie kann ich eine digitale Ausgabe von <i>TheHaps</i> erwerben?
                </button>
            </h2>
        </div>

        <div id="accordion-online-1" class="collapse" aria-labelledby="heading" data-parent="#accordion-online">
            <div class="card-body">
                Eine digitale Ausgabe kannst du mit einem Zugangscode auf dieser Webseite erwerben. Du musst dir zunächst
                einen
                gültigen Account erstellen, um anschließend einen vorher gekauften Zugangscode einlösen zu können.
                Dieser Code ist überall dort erwerblich, wo wir auch Print-Ausgaben verkaufen (s. Frage 1 in
                <i>Allgemein</i>).
                Wenn du Zugriff auf die Ausgabe hast, kannst du sie jederzeit überall auf allen mobilen Endgeräten
                bequem lesen. Wir weisen allerdings darauf hin, dass jegliche Form der digitalen Vervielfältigung oder
                des Missbrauchs strafbar ist und zurückverfolgt werden kann. Außerdem behalten wir uns vor, Accounts
                umgehend zu sperren, wenn gegen unsere <a href="{% url 'agb' %}">Nutzungsbedingungen</a> verstoßen wurde. Dann besteht
                kein
                Anspruch auf Rückerstattung oder Zugriff auf die erworbenen Ausgaben.
                <br>
                <b>Achtung: Aktuell gelten angesichts der Corona-Pandemie andere Bestimmungen! Informiere dich
                    diesbezüglich <a href="{% url 'corona' %}">hier</a>.</b>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-online-2" aria-expanded="true" aria-controls="accordion-online-2">
                    Was soll ich machen, wenn ich ein technisches Problem oder Fragen bezüglich meines Accounts oder der
                    digitalen Ausgaben habe?
                </button>
            </h2>
        </div>

        <div id="accordion-online-2" class="collapse" aria-labelledby="heading" data-parent="#accordion-online">
            <div class="card-body">
                Wende dich in solchen Fällen bitte an <a
                    href="mailto:linus.koester@halepaghen.de">linus.koester@halepaghen.de</a>. Er wird sich sobald wie
                möglich bei dir melden.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header p-0" id="heading">
            <h2 class="mb-0">
                <button class="btn btn-link w-100 h-100 text-left py-3 px-4" type="button" data-toggle="collapse"
                    data-target="#accordion-online-3" aria-expanded="true" aria-controls="accordion-online-3">
                    Warum können nur Personen, die über einen Account des schulinternen IServ-Systems verfügen
                    (@halepaghen.de), Ausgaben online lesen?
                </button>
            </h2>
        </div>

        <div id="accordion-online-3" class="collapse" aria-labelledby="heading" data-parent="#accordion-online">
            <div class="card-body">
                Aus technischen Gründen haben wir uns dazu entschieden, dass für die <b>erste</b> Ausgabe nur Personen, die
                über eine gültige E-Mail-Adresse des schulinternen IServ-Systems verfügen, sich einen Account anlegen
                können. Linus arbeitet aber bereits daran, dass für die folgenden Ausgaben alle gültigen E-Mail-Adressen
                dieser Welt Grundlage eines Accounts sein können.

            </div>
        </div>
    </div>
</div>

{% endblock %}