{% csrf_token %}
{% for error in form.non_field_errors %}
<div class="text-danger mb-2">
    {{ error }}
</div>
{% endfor %}
{% for field in form %}
{% if field.field.widget.input_type == "checkbox" %}
<div class="form-group" style="max-width: 510px;">
    <div class="custom-control custom-checkbox mb-3">
        <input
            type="checkbox"
            class="custom-control-input d-flex {% if field.errors %}is-invalid{% endif %}
                {% for name, value in field.field.widget.attrs.items %}
                    {% if name == "class" %}
                        {{ value|stringformat:'s' }}
                    {% endif %}
                {% endfor %}"
            style="
                {% for name, value in field.field.widget.attrs.items %}
                    {% if name == "style" %}
                        {{ value|stringformat:'s' }}
                    {% endif %}
                {% endfor %}"
            name="{{ field.name }}"
            id="{{ field.id_for_label }}"
            {% if field.value != None and field.field.widget.input_type != 'password' %}
                value="{{ field.value|stringformat:'s' }}"
            {% endif %}
            maxlength="{{ field.field.max_length }}"
                {% if field.field.required %}required{% endif %}
                {% for name, value in field.field.widget.attrs.items %}
                    {% if value is not False and name != "style" and name != "class" %}
                        {{ name }}
                        {% if value is not True %}
                            ="{{ value|stringformat:'s' }}"
                        {% endif %}
                    {% endif %}
                {% endfor %}>
        <label class="custom-control-label" for="{{ field.id_for_label }}">{{ field.label | safe | escape }}</label>
        {% if not field.errors %}
        <div class="invalid-feedback mt-0">
            Dieses Feld ist zwingend erforderlich.
        </div>
        {% endif %}
        {% for error in field.errors %}
        <div class="invalid-feedback mt-0">
            {{ error }}
        </div>
        {% endfor %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
    </div>
</div>
{% else %}
<div class="form-group" style="max-width: 510px;">
    {{ field.label_tag }}
    {% if field == form.username %}
    <div class="input-group">
    {% endif %}
        <input
            type="{{ field.field.widget.input_type }}"
            class="form-control d-flex {% if field.errors %}is-invalid{% endif %}
                {% for name, value in field.field.widget.attrs.items %}
                    {% if name == "class" %}
                        {{ value|stringformat:'s' }}
                    {% endif %}
                {% endfor %}"
            style="
                {% for name, value in field.field.widget.attrs.items %}
                    {% if name == "style" %}
                        {{ value|stringformat:'s' }}
                    {% endif %}
                {% endfor %}"
            name="{{ field.name }}"
            id="{{ field.id_for_label }}"
            {% if field.value != None and field.field.widget.input_type != 'password' %}
                value="{{ field.value|stringformat:'s' }}"
            {% endif %}
            maxlength="{{ field.field.max_length }}"
                {% if field.field.required %}required{% endif %}
                {% for name, value in field.field.widget.attrs.items %}
                    {% if value is not False and name != "style" and name != "class" %}
                        {{ name }}
                        {% if value is not True %}
                            ="{{ value|stringformat:'s' }}"
                        {% endif %}
                    {% endif %}
                {% endfor %}>
        {% if field == form.username %}
        <div class="input-group-append">
            <span class="input-group-text rounded-right">@halepaghen.de</span>
        </div>
        {% endif %}
        {% if not field.errors %}
        <div class="invalid-feedback">
            Dieses Feld ist zwingend erforderlich.
        </div>
        {% endif %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
    {% if field == form.username %}
    </div>
    {% endif %}
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
</div>
{% endif %}
{% endfor %}

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    // Disable @-Symbol
    $(function () {
        $('.email').keypress(function (e) {
            if (e.which == 64) {
                return false;
            }
        });
    });
</script>
<script>
    // Disable Space
    $(function () {
        $('.code').keypress(function (e) {
            if (e.which == 32) {
                return false;
            }
        });
    });
</script>