{% extends 'libertas/base.html' %}

{% block title %}Libertas{% endblock %}

{% block main %}

{% if user.is_authenticated %}
<h1>Hallo {{ user.username }}!</h1>
<p>Du bist angemeldet und solltest in diesem Beta-Test Zugriff auf alle Ausgaben haben.</p>
{% else %}
<h1>Hallo!</h1>
<p>Du bist NICHT angemeldet und solltest in diesem Beta-Test NUR Zugriff auf die Leseproben haben.</p>
{% endif %}

<h2>Ausgaben</h2>

{% for ausgabe in ausgaben.all %}


<ul>
    <li><strong>{{ ausgabe.name }}</strong> (Nr. {{ ausgabe.number }})</li>
    <ul>
        <li><a href="{% url 'viewer' ausgabe.number 'read' %}">Ausgabe lesen</a></li>
        {% if ausgabe.leseprobe %}
        <li><a href="{% url 'viewer' ausgabe.number 'leseprobe' %}">Leseprobe</a></li>
        {% endif %}
    </ul>
</ul>

{% endfor %}


{% endblock %}