{% extends 'libertas/base.html' %}

{% block title %}Login | Libertas{% endblock %}

{% block main %}

{% if user.is_authenticated %}
<p>Bereits angemeldet!</p>
{% else %}

<div class="login">
    <h1>Anmelden</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field-wrapper">
            {{ form.username.label_tag }}
            <div class="email-wrapper">
                {{ form.username }} <span class="email-text">@halepaghen.de</span>
            </div>
            {{ form.username.errors }}
            {% if form.username.help_text %}
            <div class="help">{{ form.username.help_text|safe }}</div>
            {% endif %}
        </div>
        <div class="field-wrapper">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
            {% if form.password.help_text %}
            <div class="help">{{ form.password.help_text|safe }}</div>
            {% endif %}
        </div>
        <button type="submit">Anmelden</button>
        <button onclick="window.location=''">Passwort vergessen?</button>
    </form>
</div>

<script>
    // Disable @-Symbol
    $(function () {
        $('.email').keypress(function (e) {
            if (e.which == 64) {
                return false;
            }
        });
    });
</script>

{% endif %}

{% endblock %}