{% extends 'libertas/base.html' %}

{% block title %}Code einlösen{% endblock %}

{% block main %}

<div class="mx-auto mt-4" style="width: 340px;">
    <form method="post" class="needs-validation" novalidate>
        <h1 class="h2 mb-4 text-center">Code einlösen</h1>
        {% include "libertas/form.html" %}
        <button class="btn btn-primary btn-block mt-2" type="submit">Einlösen</button>
    </form>
</div>

<script>
    // Disable Space
    $(function () {
        $('.code').keypress(function (e) {
            if (e.which == 32) {
                return false;
            }
        });
    });
</script>

{% endblock %}