{% extends 'libertas/base.html' %}
{% load static %}

{% block title %}Schülerzeitung{% endblock %}

{% block main %}

<div class="jumbotron main-jumbotron mb-3 text-light bg-gradient-primary text-center py-5 shadow-rd">
    <img src="{% static 'libertas/img/logo-white.png' %}" style="max-height: 75px" alt="TheHaps">
    <p class="h3 mt-4 font-italic mb-0">Das Magazin mit Biss.</p>
    {% if ausgabe %}
    <div class="text-right">
        <img src="{% url 'viewer' ausgabe.number 'thumbnail' %}" class="thumbnail-1">
    </div>
    {% endif %}
</div>


<div class="mb-3 w-100 rounded bg-white p-3 w-100 border shadow-rd">
    <p><b>TheHaps ist die offizielle Schülerzeitung der Halepaghen-Schule Buxtehude. Wir sind keine „Schulzeitung“,
            sondern eine Zeitschrift von Schülern für Schüler.</b> Das gesamte Team steht für einen seriösen, kritischen
        und modernen Journalismus. <i>TheHaps ist bissig. witzig. modern.</i></p>
    <p>Wir verstehen uns als Jugendzeitschrift für Buxtehude, die einen politischen Schwerpunkt hat und mit
        einer klaren Haltung auftritt. Gerade in Zeiten eines erstarkenden Rechtsextremismus und Populismus
        sehen wir darin unsere Hauptaufgabe.</p>
    <p class="mb-0">Außerdem sind Kultur, Sport und Freizeit, Schulisches und vieles mehr Inhalte unserer Zeitschrift.
    </p>
</div>

{% if ausgabe %}
<div class="row">
    <div class="col-lg-8 pr-lg-0 d-flex">
        {% include "libertas/modules/ausgabe.html" %}
    </div>
    <div class="col-lg-4 pt-lg-0 pl-lg-3 d-flex">
        {% include "libertas/modules/kaufen.html" %}
    </div>
</div>
{% endif %}

{% include "libertas/modules/artikel.html" %}
{% include "libertas/modules/news.html" %}


{% endblock %}