{% extends 'libertas/base.html' %}
{% load static %}

{% block title %}Team{% endblock %}

{% block main %}

<div class="jumbotron m-0 bg-dark text-light shadow">
    <h1 class="display-4">Team</h1>
</div>

<div class="my-3 w-100 shadow rounded border border-secondary bg-light p-3">
    <h3>Redaktion</h3>
    <div class="row mx-1 mt-3">
        <div class="col-md-4 text-center">
            <img src="{% static 'libertas/img/team/philipp_bravos.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                style="max-width: 150px;">
            <p class="font-weight-bold mb-1">Philipp Bravos<button type="button"
                    class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="philipp.bravos&#64;halepaghen.de"><i
                        class="fas fa-envelope"></i></button></p>
            <span class="text-muted">Chefredakteur,<br> leitender Redakteur <i>Politik</i>,<br> Podcaster</span>
        </div>
        <hr class="w-100 d-md-none">
        <div class="col-md-4 text-center">
            <img src="{% static 'libertas/img/team/lars_hauschildt.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                style="max-width: 150px;">
            <p class="font-weight-bold mb-1">Lars Johannes Hauschildt<button type="button"
                    class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="lars.hauschildt&#64;halepaghen.de"><i
                        class="fas fa-envelope"></i></button></p>
            <span class="text-muted">stellv. Chefredakteur,<br> leitender Redakteur <i>Kultur</i>,<br> Podcaster</span>
        </div>
        <hr class="w-100 d-md-none">
        <div class="col-md-4 text-center">
            <img src="{% static 'libertas/img/team/stefan_heise.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                style="max-width: 150px;">
            <p class="font-weight-bold mb-1">Stefan Heise<button type="button"
                    class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="stefan.heise&#64;halepaghen.de"><i
                        class="fas fa-envelope"></i></button></p>
            <span class="text-muted">leitender Redakteur <i>Sport&Freizeit</i>,<br> Sponsoring,<br> Podcaster</span>
        </div>
    </div>
    <hr class="w-100">
    <h4>Weitere Redakteure</h4>
    <div class="row mx-1 mt-3">
        <div class="col-xl-6 text-center">
            <img src="{% static 'libertas/img/team/redakteure.jpg' %}" class="img-fluid rounded mb-3">
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div class="col-md-6 text-center">
                    <span class="d-block mb-2">Erika Dollinger<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="erika.dollinger&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Lennart Klein<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="lennart.klein&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Charlotte Heise<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="charlotte.heise&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Paula Golinski<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="paula.golinksi&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Lone Prolingheuer<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="lone.prolingheuer&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Lotta Carls<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="lotta.carls&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                </div>
                <div class="col-md-6 text-center">
                    <span class="d-block mb-2">Johanna Dolf<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="johanna.dolf&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Lennart Rinneberg<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="lennart.rinneberg&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Pauline Witt<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="pauline.witt&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Lasse Sanders<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="lasse.sanders&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Hira Cakmak<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="hira.cakmak&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                    <span class="d-block mb-2">Luisa Reincke<button type="button"
                            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                            data-placement="top" data-content="luisa.reincke&#64;halepaghen.de"><i
                                class="fas fa-envelope"></i></button></span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6 pr-md-2 mb-3 d-flex">
        <div class="w-100 shadow rounded border border-secondary bg-light p-3 h-100">
            <h3>Layout / Design</h3>
            <div class="text-center mt-3">

                <img src="{% static 'libertas/img/team/jonas_goeze.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                    style="max-width: 150px;">
                <p class="font-weight-bold mb-1">Jonas Goeze<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="jonas.goeze&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></p>
                <span class="text-muted">leitender Layouter</span>

                <hr class="w-100">

                <h4 class="mb-2">Weitere Layouter</h4>
                <span class="d-block mb-2">Antonia Bartels<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="antonia.bartels&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Moritz Simon<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                        data-container="body" data-toggle="popover" data-placement="top"
                        data-content="moritz.simon&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
            </div>


        </div>
    </div>
    <div class="col-md-6 pl-md-2 mb-3">
        <div class="w-100 shadow rounded border border-secondary bg-light p-3">
            <h3>Social Media / Mobile Reporting</h3>
            <div class="text-center mt-3">

                <img src="{% static 'libertas/img/team/erika_dollinger.jpg' %}"
                    class="img-fluid rounded-circle w-75 mb-3" style="max-width: 150px;">
                <p class="font-weight-bold mb-1">Erika Dollinger<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="erika.dollinger&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></p>
                <span class="text-muted">Social Media-Leiterin,<br>Redakteurin</span>

                <hr class="w-100">

                <h4 class="mb-2">Weitere Social-Media-Mitarbeiter</h4>
                <span class="d-block mb-2">Maxim Toporov<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="maxim.toporov&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Hüsna-Sema Tarkoçin<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="huesna-sema.tarcocin&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Moritz Simon<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                        data-container="body" data-toggle="popover" data-placement="top"
                        data-content="moritz.simon&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Luisa Reincke<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="luisa.reincke&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
            </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 pr-md-2 mb-3 d-flex">
        <div class="w-100 shadow rounded border border-secondary bg-light p-3 h-100">
            <h3>Fotografie</h3>
            <div class="text-center mt-3">

                <img src="{% static 'libertas/img/team/martin_hartge.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                    style="max-width: 150px;">
                <p class="font-weight-bold mb-1">Martin Konrad Hartge<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="martin.hartge&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></p>
                <span class="text-muted">leitender Fotograf</span>

                <hr class="w-100">

                <h4 class="mb-2">Weitere Fotografen</h4>
                <span class="d-block mb-2">Alina Uarda Engel<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="alina.uarda.engel&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Pauline Witt<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                        data-container="body" data-toggle="popover" data-placement="top"
                        data-content="pauline.witt&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Paula Golinski<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="paula.golinski&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Hüsna-Sema Tarkoçin<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="huesna-sema.tarcocin&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
            </div>


        </div>
    </div>
    <div class="col-md-6 pl-md-2 mb-3 d-flex">
        <div class="w-100 shadow rounded border border-secondary bg-light p-3 h-100">
            <h3>Finanzen / Sponsoring</h3>
            <div class="text-center mt-3">

                <img src="{% static 'libertas/img/team/philip_ecks.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                    style="max-width: 150px;">
                <p class="font-weight-bold mb-1">Philip Lennart Ecks<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="philip.lennart.ecks&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></p>
                <span class="text-muted">Schatzmeister</span>

                <hr class="w-100">

                <h4 class="mb-2">Weitere Mitarbeiter</h4>
                <span class="d-block mb-2">Stefan Heise<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                        data-container="body" data-toggle="popover" data-placement="top"
                        data-content="stefan.heise&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
                <span class="d-block mb-2">Lennart Klein<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="lennart.klein&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></span>
            </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 pr-md-2 mb-3 d-flex">
        <div class="w-100 shadow rounded border border-secondary bg-light p-3 h-100">
            <h3>Webentwicklung / Webdesign</h3>
            <div class="text-center mt-3">

                <img src="{% static 'libertas/img/team/linus_koester.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                    style="max-width: 150px;">
                <p class="font-weight-bold mb-1">Linus Köster<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="linus.koester&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></p>
                <span class="text-muted">Developer</span>
            </div>


        </div>
    </div>
    <div class="col-md-6 pl-md-2 mb-3 d-flex">
        <div class="w-100 shadow rounded border border-secondary bg-light p-3 h-100">
            <h3>Vertriebsleitung</h3>
            <div class="text-center mt-3">

                <img src="{% static 'libertas/img/team/simon_bilonic.jpg' %}" class="img-fluid rounded-circle w-75 mb-3"
                    style="max-width: 150px;">
                <p class="font-weight-bold mb-1">Simon Bilonic<button type="button"
                        class="btn btn-dark rounded-circle btn-sm text-white ml-2" data-container="body" data-toggle="popover"
                        data-placement="top" data-content="simon.bilonic&#64;halepaghen.de"><i
                            class="fas fa-envelope"></i></button></p>
                <span class="text-muted">Vertriebsleiter</span>
            </div>


        </div>
    </div>
</div>

<div class="w-100 shadow rounded border border-secondary bg-light p-3 mb-3">
    <h3>Sonstige Aufgaben</h3>
    <div class="row">
        <div class="col-md-4 text-center">
            <span class="d-block mb-2">Simon Bilonic<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="simon.bilonic&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
        </div>
        <div class="col-md-4 text-center">
            <span class="d-block mb-2">Ansgar Warner<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="ansgar.warner&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
        </div>
        <div class="col-md-4 text-center">
            <span class="d-block mb-2">Serhat Kaan Kaya<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="serhat.kaan.kaya&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
        </div>

    </div>
</div>

<div class="w-100 shadow rounded border border-secondary bg-light p-3 mb-3">
    <h3>Unterstufen-Seite</h3>
    <div class="row">
        <div class="col-md-4 text-center">
            <span class="d-block mb-2">Nadine Nourredine<button type="button"
                    class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="nadine.nourredine&#64;halepaghen.de"><i
                        class="fas fa-envelope"></i></button></span>
            <span class="d-block mb-2">Leandro Gomes<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="leandro.gomes&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
            <span class="d-block mb-2">Jarne Fluhr<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="jarne.fluhr&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
        </div>
        <div class="col-md-4 text-center">
            <span class="d-block mb-2">Jolanda Luna Kolb<button type="button"
                    class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover"
                    data-placement="top" data-content="jolanda.luna.kolb&#64;halepaghen.de"><i
                        class="fas fa-envelope"></i></button></span>
            <span class="d-block mb-2">Vianne Dornig<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="vianne.dornig&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
            <span class="d-block mb-2">Marla Breuker<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="marla.breuker&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
        </div>
        <div class="col-md-4 text-center">
            <span class="d-block mb-2">Kolja Tepel<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="kolja.tepel&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
            <span class="d-block mb-2">Jannis Weygand<button type="button" class="btn btn-dark rounded-circle btn-sm text-white mx-2"
                    data-container="body" data-toggle="popover" data-placement="top"
                    data-content="jannis.weygand&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
        </div>

    </div>
</div>
<div class="w-100 shadow rounded border border-secondary bg-light p-3 mb-3">
    <span class="d-block"><strong>Betreuender Lehrer:</strong> Herr Winklmann<button type="button"
            class="btn btn-dark rounded-circle btn-sm text-white mx-2" data-container="body" data-toggle="popover" data-placement="top"
            data-content="herr.winklmann&#64;halepaghen.de"><i class="fas fa-envelope"></i></button></span>
</div>
<div class="shadow rounded border bg-gradient-primary p-3 text-white mb-3">
    <h3>Mitmachen!</h3>
    <span><b>Wir suchen immer Personen, die bei uns mitarbeiten wollen – ganz egal, ob als Redakteur, Layouter/Designer,
        Fotograf, Mobile Reporter, IT-Spezialist oder Verkäufer.</b><br>Solltest du Interesse haben, schreibe einfach eine
        kurze Nachricht mit deinem Namen, deinem Alter und dem genaueren Interessensgebiet an
        philipp.bravos&#64;halepaghen.de oder kontaktiere uns über Social Media!</span>
</div>
<div class="w-100 shadow rounded border border-secondary bg-light p-3 mb-3">
    <h3>Unsere Sponsoren und Partner</h3>
    <p><b>Wir bedanken uns sehr herzlich bei all unseren Sponsoren:</b></p>
    <ul>
        <li>Carl Duisberg Centren (<a href="https://www.cdc.de/">Link</a>)</li>
        <li>Fahrschule Wallek (<a href="https://fahrschule-wallek.de/">Link</a>)</li>
        <li>Fahrschule Sander (<a href="https://www.fahrschule-sander.de/">Link</a>)</li>
        <li>Reitschule Minkens-Hoff (<a href="https://www.minkenshoff.de/unsere-reitschule/">Link</a>)</li>
    </ul>
    <p>Außerdem danken wir dem Schulverein der Halepaghen-Schule ausdrücklich, der uns finanziell umfangreich unterstützt!</p>
    <p><b>Wir unterstützen und arbeiten zusammen mit:</b></p>
    <ul class="mb-0">
        <li>Fridays for Future Buxtehude (<a href="https://buxtehudeforfuture.de/">Link</a>)</li>
        <li>Initiative "Offene Gesellschaft" (<a href="https://www.die-offene-gesellschaft.de/">Link</a>)</li>
    </ul>
</div>


{% endblock %}