{% extends 'libertas/base.html' %}

{% block title %}Team{% endblock %}

{% block main %}

<div class="jumbotron m-0 bg-dark text-light shadow"
    style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
    <h1 class="display-4">Team</h1>
</div>

<nav id="scrollspy" class="navbar navbar-expand bg-light sticky-top rounded-bottom mb-3 shadow border border-secondary"
    style="top: 56px;">
    <ul class="nav nav-pills flex-row text-center">
        <li class="nav-item flex-fill">
            <a class="nav-link" href="#ueber-uns">Über uns</a>
        </li>
        {% if ausgaben %}
        <li class="nav-item flex-fill">
            <a class="nav-link" href="#ausgaben">Ausgaben</a>
        </li>
        <li class="nav-item flex-fill d-lg-none">
            <a class="nav-link" href="#erwerben">Erwerben</a>
        </li>
        {% endif %}
        <li class="nav-item flex-fill">
            <a class="nav-link" href="#news">Neuigkeiten</a>
        </li>
    </ul>
</nav>

<div class="my-3 w-100 shadow rounded border border-secondary bg-light p-3">
    <p><b>In dem weltberühmten <i>HalePodcast</i> sprechen Stefan, Lars und Philipp über alles, was in der Welt los ist
            und was die Schule bewegt.</b> Außerdem halten sie euch bezüglich der Schülerzeitung auf dem Laufenden. Das
        alles mal ernst. Mal august. Mal witzig. Mal ein bisschen schmutzig. Mal mit Gast. Mal ohne. Aber immer für euch
        da.</p>
    <p class="mb-0">Die drei waren übrigens die ersten mit der Idee, einen Podcast zu machen.</p>
</div>

<div class="my-3 w-100 shadow rounded rounded-lg border border-secondary p-2" style="background-color: #0F57A3;">
    <h3 class="text-white ml-3 mt-3 mb-2">Aktueller Podcast</h3>
    <iframe src="https://open.spotify.com/embed-podcast/show/3OmgDOrhoopY4THEFfhKw5" width="100%" height="232"
        frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-bottom: -11px;"></iframe>
</div>

{% endblock %}