{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Wartung | TheHaps</title>
</head>

<body class="bg-primary text-white h-100 text-center">
    <img src="{% static 'libertas/img/logo.png' %}" height="80" class="mt-5">
    <h1 class="mt-5">Wir sind gleich wieder da!</h1>
    <h5 class="mt-5">Aufgrund von Wartungsarbeiten ist<br> unsere Webseite aktuell nicht verfügbar. <br>Versuche es in einigen Minuten erneut!</h5>
</body>

</html>