{% extends 'libertas/base.html' %}

{% block title %}{{ artikel.title }}{% endblock %}

{% block main %}
<div class="jumbotron m-0 text-white shadow-rd py-4 rounded-top" style="overflow-wrap: break-word; background: rgb(218, 72, 28);">
    <span class="mb-0 h1"><i class="fas fa-bookmark mr-3"></i>Online-Artikel</span>
</div>

<div class="my-3 w-100 shadow-rd rounded border bg-white p-3">
    <h1 class="h3 font-weight-bold mb-1"><span class="badge text-white align-bottom"
        style="background: rgb(218, 72, 28);">{{ artikel.tag }}</span> {{ artikel.title }}</h1>
    <p class="text-muted">{% if artikel.author %}{{ artikel.author }} &middot; {% endif %}vom {{ artikel.date }}</p>
    <p class="mb-0 text-justify">{{ artikel.content | safe | escape }}</p>
</div>


{% endblock %}

{% block header %}
<meta name="description" content="{{ artikel.description }}">
{% if artikel.author %}<meta name="author" content="{{ artikel.author }}">{% endif %}

{% endblock %}